#left {
   float: left;
   width: 100%;
   padding-bottom: 2%;
}

section {
   padding-top: 5%;
   padding-bottom: 5%;
}

p {
   padding-left: 5%;
   padding-right: 5%;
   text-indent: 30px;
}